In [178]:
import pandas as pd

In [179]:
data=pd.read_excel('ODI_cricket.xlsx', sheet_name='bowler')

### Task-2: Displaying the first 10 rows of the dataframe

In [180]:
display(data.head(10))

,Player,Span,Mat,Inns,Balls,Runs,Wkts,Ave,Econ,SR,4,5
0,M Muralitharan (Asia/ICC/SL),1993-2011,350,341,18811,12326,534,23.08,3.93,35.2,15,10
1,Wasim Akram (PAK),1984-2003,356,351,18186,11812,502,23.52,3.89,36.2,17,6
2,Waqar Younis (PAK),1989-2003,262,258,12698,9919,416,23.84,4.68,30.5,14,13
3,WPUJC Vaas (Asia/SL),1994-2008,322,320,15775,11014,400,27.53,4.18,39.4,9,4
4,Shahid Afridi (Asia/ICC/PAK),1996-2015,398,372,17670,13632,395,34.51,4.62,44.7,4,9
5,SM Pollock (Afr/ICC/SA),1996-2008,303,297,15712,9631,393,24.50,3.67,39.9,12,5
6,GD McGrath (AUS/ICC),1993-2007,250,248,12970,8391,381,22.02,3.88,34.0,9,7
7,B Lee (AUS),2000-2012,221,217,11185,8877,380,23.36,4.76,29.4,14,9
8,SL Malinga (SL),2004-2019,226,220,10936,9760,338,28.87,5.35,32.3,11,8
9,A Kumble (Asia/INDIA),1990-2007,271,265,14496,10412,337,30.89,4.30,43.0,8,2

### Task-3: Creating a markdown cell and explaining the meaning of each column

| Column Name | Description |
|:---         |:---|
|Player       | Name of the bowlers|
|Span         | The time period a specific player played|
|Mat          | Number Matches played|
|Inns         | Number of Innings played|
|Balls        | Number of Balls being bowled by the player|
|Runs         | Number of Runs conceded|
|Wkts         | Number of Wickets taken|
|Ave          | Number of Balls being bowled to take a single wicket|
|Econ         | Average number of runs being conceded per over bowled|
|SR           | The average number of runs scored per 100 balls faced|
|4            | Number of times 4 wickets being taken|
|5            | Number of times 5 wickets being taken|

### Task-4: Finding the number of rows and columns in the dataframe

In [181]:
print("The number of rows is",data.shape[0],"and the number of columns is",data.shape[1])

The number of rows is 77 and the number of columns is 12

### Task-5: Finding the data statistics and checking for the data types

In [182]:
print("The data statistics")
data.describe()

The data statistics

,Mat,Inns,Balls,Runs,Wkts,Ave,Econ,SR,4,5
count,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000
mean,194.402597,181.194805,8839.402597,6671.714286,233.805195,28.958052,4.596753,37.909091,6.350649,2.870130
std,82.485606,67.958393,3316.055457,2245.839029,84.406603,4.826768,0.515814,6.060901,3.556929,2.530606
min,80.000000,76.000000,4074.000000,2821.000000,151.000000,18.680000,3.300000,26.100000,1.000000,0.000000
25%,136.000000,128.000000,6182.000000,5058.000000,173.000000,24.970000,4.280000,33.000000,3.000000,1.000000
50%,170.000000,164.000000,8054.000000,6192.000000,199.000000,29.290000,4.660000,37.800000,6.000000,2.000000
75%,227.000000,218.000000,10750.000000,8021.000000,272.000000,31.900000,4.920000,41.400000,8.000000,4.000000
max,463.000000,372.000000,18811.000000,13632.000000,534.000000,44.480000,5.830000,52.500000,17.000000,13.000000

In [183]:
print(data.dtypes)

Player     object
Span       object
Mat         int64
Inns        int64
Balls       int64
Runs        int64
Wkts        int64
Ave       float64
Econ      float64
SR        float64
4           int64
5           int64
dtype: object

### Task-6: Missing values in the dataframe

In [184]:
flag=0
for i in data.isnull().sum():
    if(i>0):
        flag=1
        print("Missing value exists!!!")
        break
if(flag==0):
    print("No missing value")

No missing value

In [185]:
data.columns

Index(['Player',   'Span',    'Mat',   'Inns',  'Balls',   'Runs',   'Wkts',
          'Ave',   'Econ',     'SR',        4,        5],
      dtype='object')

### Task-7: Renaming the column names appropriately

In [186]:
data.rename(columns={'Mat':'Matches','Inns':'Innings','Wkts':'Wickets','Ave':'Average','Econ':'Economy','SR':'Strike_Rate',4:'4_Wickets',5:'5_wickets'},inplace=True)
print("The new modified columns' names list:",data.columns)

The new modified columns' names list: Index(['Player', 'Span', 'Matches', 'Innings', 'Balls', 'Runs', 'Wickets',
       'Average', 'Economy', 'Strike_Rate', '4_Wickets', '5_wickets'],
      dtype='object')

### Task-8: Number of players played for ICC

In [187]:
data[['Player_Name','Country']]=data.Player.str.split("(",expand=True)

#replacing ) sign and finding if anyone played for ICC
data['Country']=data.Country.str.replace(')','',regex=True)
data['ICC']=data.Country.str.contains("ICC")
data['Country']=data.Country.str.replace("ICC/","",regex=True)
data['Country']=data.Country.str.replace("/ICC","",regex=True)



#replacing asia and africa
data['Asia']=data.Country.str.contains("Asia")
data['Country']=data.Country.str.replace("Asia/","",regex=True)
data['Africa']=data.Country.str.contains("Afr")
data['Country']=data.Country.str.replace("Afr/","",regex=True)

print(data['ICC'].value_counts()[1])

13

### Task-9: Number of different countries are present in this dataset

In [188]:
len(data.Country.unique())

11

### Task-10: Player played for the longest period of time

In [189]:
data[['Start','End']]=data['Span'].str.split("-",expand=True)
data['Start']=data['Start'].astype('int32')
data['End']=data['End'].astype('int32')
data['Period']=data['End']-data['Start']
print(data[data['Period']==data['Period'].max()].Player_Name) # how to avoid the index and the data type and column name

72    SR Tendulkar
Name: Player_Name, dtype: object

### Task-11: Players played for the shortest period of time

In [190]:
print(data[data['Period']==data['Period'].min()].Player_Name)

40     BKV Prasad
49    Saeed Ajmal
73     BAW Mendis
74    Rashid Khan
Name: Player_Name, dtype: object

### Task-12: Number of Australian Bowlers are present in this dataset

In [191]:
print(data['Country'].value_counts()[0])

13

### Task-13: If any Bangladeshi Player Present

In [192]:
data[data['Country']=='BAN'].shape[0]

3

### Task-14: Player with the lowest economy rate

In [193]:
data[data['Economy']==data['Economy'].min()].Player_Name

65    RJ Hadlee
Name: Player_Name, dtype: object

### Task-15: Player with lowest strike rate

In [194]:
data[data['Strike_Rate']==data['Strike_Rate'].min()].Player_Name

41    MA Starc
Name: Player_Name, dtype: object

### Task-15: Player with Lowest Bowling Average

In [195]:
data.columns

Index(['Player', 'Span', 'Matches', 'Innings', 'Balls', 'Runs', 'Wickets',
       'Average', 'Economy', 'Strike_Rate', '4_Wickets', '5_wickets',
       'Player_Name', 'Country', 'ICC', 'Asia', 'Africa', 'Start', 'End',
       'Period'],
      dtype='object')

In [196]:
data[data['Average']==data['Average'].min()].Player_Name

74    Rashid Khan
Name: Player_Name, dtype: object

### Task-16: Removing unnecessary columns

In [197]:
data.drop(['Player','Span'],axis=1,inplace=True)
display(data)

,Matches,Innings,Balls,Runs,Wickets,Average,Economy,Strike_Rate,4_Wickets,5_wickets,Player_Name,Country,ICC,Asia,Africa,Start,End,Period
0,350,341,18811,12326,534,23.08,3.93,35.2,15,10,M Muralitharan,SL,True,True,False,1993,2011,18
1,356,351,18186,11812,502,23.52,3.89,36.2,17,6,Wasim Akram,PAK,False,False,False,1984,2003,19
2,262,258,12698,9919,416,23.84,4.68,30.5,14,13,Waqar Younis,PAK,False,False,False,1989,2003,14
3,322,320,15775,11014,400,27.53,4.18,39.4,9,4,WPUJC Vaas,SL,False,True,False,1994,2008,14
4,398,372,17670,13632,395,34.51,4.62,44.7,4,9,Shahid Afridi,PAK,True,True,False,1996,2015,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,463,270,8054,6850,154,44.48,5.10,52.2,4,2,SR Tendulkar,INDIA,False,False,False,1989,2012,23
73,87,84,4154,3324,152,21.86,4.80,27.3,7,3,BAW Mendis,SL,False,False,False,2008,2015,7
74,80,76,4074,2821,151,18.68,4.15,26.9,5,4,Rashid Khan,AFG,False,False,False,2015,2022,7
75,147,136,6142,4818,151,31.90,4.70,40.6,4,1,UDU Chandana,SL,False,False,False,1994,2007,13
76,113,111,6141,5058,151,33.49,4.94,40.6,1,0,R Ashwin,INDIA,False,False,False,2010,2022,12